*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: auto;
    height: 100vh;
    margin: 16px auto;
    text-align: center;
    padding: 8px;
    background: #FFEEA9;
    
}

.title{
    background: #FFBF78;
    color:#FF7D29;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 50px;
    
}

.home-list{
    background-color:#FEFFD2;
    list-style-type: none;
    margin-bottom: 10px;
    
    
}

ul,ol{
    display: inline-block;
    padding: 15px;
    list-style-type: none;
    
}
li{
    padding: 15px;
    font-size: 2em;

    
}

.home-list li a {
    text-decoration: none; /* Remove underline from links */
    color: #FF7D29; /* Link text color */
    display: block; /* Make the link take up the whole list item */
}

/* Hover effect for list items */
.home-list li:hover {
    background-color: #e0e0e0; /* Slightly darker background on hover */
}