.body{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    color: #333;
    background:  linear-gradient(to right, #7c917c, #ffffff) 
}

h1{

    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;
    background-color: gray;
    
}

ul{
    list-style-type: disc;
    margin-left: 20px;
}
ol{
    list-style-type: decimal;
    margin-left: 20px;
}

li{
    background-color: grey;
}

img{
    max-width: 100%;
    height:auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.home-list{
    font-size: 50px;

}

